<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register new user</title>
</head>
<body>
  <h1>Register Page</h1>
  <a href="/">Home</a>
  <form method="post" action="register">
    <label>Enter Username:<br><input type="text" name="username"></label><br>
    <label>Enter Password:<br><input type="password" name="password"></label>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
  </form>
</body>
</html>